*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.theme{
background: #1e283f;
    color: #F8FAFC;
}


#mode{
  border: 1px solid white;
  width: 80px;
  heigth: 30px;
  border-radius: 10px;
}

.offer{
      font-size: 40px;
      font-family:'Great Vibes', cursive;
      border-radius: 10px;
      background:linear-gradient(
        to right, orange,white,green
      );
      }


/* navBar */
header{
  display: flex;
  flex-direction: row;
  align-items: center   ;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 10px;
}

.search{
  width: 400px;
}

.search input{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

nav{
  display: flex;
  gap: 40px;
  border-bottom: 1px ;
  
}
.nav{
  text-decoration: none;
  color: #111827;
}

/* subheading  */

.sub-container{
  display: flex;
  justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo{
  font-size: 30px;
  font-weight: 700;
}


.box{
  border: 2px solid;
  border-radius: 10px;
  padding: 5px 18px;
display: flex;
width: 170px;
height: 40px;
gap: 35px;
font-size: 14px;
padding-top: 6px;
}
#innBox{
  border: none;
  width: 80px;
  font-weight: 700;
}

/* hero-section */
.hero-sec{
  display: flex;
  padding:8px 20px;
  gap: 10px;
}

/* aside containers*/
.aside-container{
  border: none;
  width: 300px;
  height: 100vh;
  padding: 20px 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;

}
.cat-btn{
  height: 30px;
  width: 180px;
  border-radius: 8px;
  text-align: left;
}
.cat-btn:hover{
  background-color: rgb(193, 199, 208);

}
button{
  border: none;
  background-color: transparent;
  font-weight: 700;
}
button:hover{
  color: rgb(13, 106, 199);
  cursor: pointer;
}
.Range{
display: flex;
justify-content: space-between;
}


/* hero */
.hero{
  border: 1px solid black;

  border-radius: 20px;
  width: 100%;
  height: 100vh;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 display: flex;
 flex-wrap: wrap;
 overflow-y: auto;
}

/* cards */
.cards{
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  box-shadow: rgba(43, 125, 207, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: left;
  padding: 20px 30px;
  border-radius: 25px;
  transition: .3s ease;
}
.cards:hover{
  transform: translateY(10px) scale(1.02) ;
}
.card-img{
width: 100%;
transition: .3s ease;
border-radius: 20px;
}
.card-img:hover{
  transform: scale(1.3 );
}

.price{
  font-weight: 600;
}
.cart-btn{
  border: 2px solid rgb(46, 128, 
  229);
  color:  rgb(46, 128, 
  229) ;
  width: 200px;
  height: 90px;
  background-color: transparent;
  border-radius: 10px;
  transition: .3s ease;
}
  .cart-btn:hover{
    transform: scale(1.09);
  }

